{{template "admin/common/header.html" .}}

<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add">

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="name" name="name">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>初始密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" autocomplete="off" value="" placeholder="密码" id="password" name="password">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" autocomplete="off"  placeholder="确认新密码" id="password2" name="password2">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>手机：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="phone" name="phone">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>邮箱：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="@" name="email" id="email">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">*角色：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width:150px;">
                    <select class="select" name="adminRole" size="1" id="adminRole">
                        <option value="-1">普通管理员</option>
                        <option value="1">超级管理员</option>
                    </select>
			    </span>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" id='submit' value="提交">
            </div>
        </div>

    </form>
</article>

<script>
    $("#submit").click(function () {
        var ajaxData = {
            name:$('#name').val().trim(),
            password:$('#password').val().trim(),
            password2:$('#password2').val().trim(),
            phone:$('#phone').val().trim(),
            email:$('#email').val().trim(),
            roleId:$('#adminRole').find("option:selected").val().trim(),
            comment:'',
        }
        if(ajaxData.name==""){
            layer.msg("用户名不能为空");
            return false;
        }
        if(ajaxData.password==""){
            layer.msg("密码不能为空");
            return false;
        }
        if(ajaxData.password != ajaxData.password2){
            layer.msg("两次密码不一致");
            return false;
        }
        $("#submit").val("提交中...");
        $.ajax({
            type:'post',
            dataType:'JSON',
            url:"/admin/manage/add",
            data:ajaxData,
            success:function(res){
                layer.msg(res.msg);
                layer.closeAll();
                parent.location.reload();
            },
        });

    });

</script>

{{template "admin/common/footer.html" .}}
