{{template "admin/common/header.html" .}}

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 用户列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>

<div class="page-container">
    <div class="text-c"> 日期范围：
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">
        <input type="text" class="input-text" style="width:250px" placeholder="输入用户名称" id="keyword" name="keyword">
        <button type="submit" class="btn btn-success radius" id="search_btn" name="" onclick="doSearch()"><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" onclick="doAdd()" class="btn btn-primary radius">
                <i class="Hui-iconfont">&#xe600;</i> 添加用户
            </a>
        </span>
        <span class="r">共有数据：<strong id="total_nums">0</strong> 条</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="25"><input  id="checkAll" type="checkbox" name="" value=""></th>
                <th width="80">ID</th>
                <th width="100">用户</th>
                <th width="90">电话</th>
                <th width="150">邮箱</th>
                <th width="150">角色</th>
                <th width="130">加入时间</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
</div>

<script>
    function doAdd() {
        var url = "/admin/manage/add";
        layer_show("添加用户",url,800,500);  //标题，路由，宽，高
    }

    function doEdit(obj,rowid){
        var url = "/admin/manage/edit/"+rowid;
        layer_show("编辑用户",url,800,500);  //标题，路由，宽，高
    }

    function doDel(obj,rowid) {

        layer.confirm('确定删除？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            var url = "/admin/manage/del/"+rowid;
            $.ajax({
                type: "post",
                url: url,
                data: {},
                dataType: "json",
                success: function(res){
                    console.log("-------");
                    console.log(res);
                    layer.msg(res.msg);
                    if(res.status == 1){
                        $(obj).parent().parent().remove();
                    }
                },
            });
        }, function(){
            return ;
        });
    }

    function getBodyHtml(obj) {
        var res = "";
        for(var i in obj){
            res += "<tr class='text-c'>";
            res += " <td><input class='checkOne' type='checkbox' value=''  name=''></td>";
            res += "<td>"+obj[i].Id+"</td>";
            res += "<td>"+obj[i].Name+"</td>";
            res += "<td>"+obj[i].Phone+"</td>";
            res += "<td>"+obj[i].Email+"</td>";
            res += "<td>"+formatRole(obj[i].IsSuper)+"</td>";
            res += "<td>"+obj[i].CreateTime+"</td>";
            res += "<td class='td-manage'>";
            res += "<a title='编辑'  href='javascript:;' onclick=doEdit(this,'"+obj[i].Id+"') class='ml-5'  style='text-decoration:none'>" +
                    "<i class='Hui-iconfont'>&#xe6df;</i>" +
                    "</a>";
            res += "<a title='删除'  href='javascript:;'  onclick=doDel(this,'"+obj[i].Id+"') class='ml-5' style='text-decoration:none'>" +
                    "<i class='Hui-iconfont'>&#xe6e2;</i>" +
                    "</a>";
            res += "</td></tr>";
        }
        return res;
    }

    var queryData = new Object(null);
    $(document).ready(function () {
        doSearch();
    });

    function formatRole(role) {
        if(role == 1){
            return "<font color='red'>超级管理员</font>"
        }else {
            return "普通管理员"
        }
    }

    function doSearch(){
        queryData.keyword = $("#keyword").val();
        queryData.startTime = convertYMDToTimeStamp($("#datemin").val(),1);
        queryData.endTime = convertYMDToTimeStamp($("#datemax").val(),2);
        console.log("aaa");
        $.ajax({
            type: "get",
            url: "/admin/manage/query",
            data: queryData,
            dataType: "json",
            success: function(res){
                console.log(res);
                if(res.status == 1){
                    var datas = res.datas;
                    var totals = res.totals;
                    $("#tbody").html(getBodyHtml(datas));
                    $("#total_nums").text(totals);
                }
            },
        });
    }
</script>



{{template "admin/common/footer.html" .}}


